/* label color */
 .input-field label {
   color: #ec407a ;
 }

 .input-field input[type=text]{
    color:black;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #ec407a ;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
   color:black;
 }

 #footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}



.bombshellpink{
  color:#EC008B;
}
.bombshellHeading{
  font-family:'alternate-gothic-no-1-d';
  font-weight:400;
  font-style:normal;
  font-size: 120px;

}
.bombshellSubHeading{
  font-family:'kinescope';
  font-weight:400;
  font-style:normal;
}

.tileleft{
  padding-left:0px;
}

.tileright{
  padding-right:0px
}

.tileFancy{
  font-family:'kinescope';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:black;
  border:1px solid white;
  border-left:none;
  border-right:none;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:10px;

}
.tileBlock{
  font-family:'alternate-gothic-no-1-d';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:black;
  border:1px solid white;
  border-left:none;
  border-right:none;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:0px;
  padding-top:10px;
}


#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 no-repeat center center; }

  .spinner {
width: 40px;
height: 40px;
position: relative;
margin: 100px auto;
margin-top:25%;
}

.double-bounce1, .double-bounce2 {
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #e91e63;
opacity: 0.6;
position: absolute;
top: 0;
left: 0;

-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
-webkit-animation-delay: -1.0s;
animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
0%, 100% { -webkit-transform: scale(0.0) }
50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
0%, 100% {
  transform: scale(0.0);
  -webkit-transform: scale(0.0);
} 50% {
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
}
}
